<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <link rel="stylesheet" type="text/css" href="/css/users.css" />
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container-fluid users">
    <div class="users-inside">
        <div class="row">
            <div class="box col-md-6 col-md-offset-3" id="users-list">
                <div id="users-title">
                    <h2>Blocked users list
                        <a th:href="@{/users/add}" class="btn btn-lg btn-success" role="button">Add</a></h2>
                </div>
                <div>
                    <table class="table table-bordered" id="users-table">
                        <thead class="thead">
                        <tr id="top">
                            <th class="th">User ip</th>
                            <th class="th">Active</th>
                            <th class="th">Time allowed</th>
                            <th class="th">Start time</th>
                            <th class="th">End time</th>
                            <th class="th">Browsing time limited</th>
                            <th class="th">Duration</th>
                            <th class="th">Used time</th>
                            <th class="th"></th>
                            <th class="th"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${users.empty}">
                            <td id="empty" colspan="10">List is empty</td>
                        </tr>
                        <tr th:if="${!users.empty}" th:each="item : ${users}">
                            <td class="user" th:text="${item.userIp}">Empty</td>
                            <td>
                                <span th:if="${item.isActive}" class="glyphicon glyphicon-ok"></span>
                                <span th:unless="${item.isActive}" class="glyphicon glyphicon-remove"></span>
                            </td>
                            <td>
                                <span th:if="${item.isTimed}" class="glyphicon glyphicon-ok"></span>
                                <span th:unless="${item.isTimed}" class="glyphicon glyphicon-remove"></span>
                            </td>
                            <td th:text="${item.timeBegin}"></td>
                            <td th:text="${item.timeEnd}"></td>
                            <td>
                                <span th:if="${item.hasDuration}" class="glyphicon glyphicon-ok"></span>
                                <span th:unless="${item.hasDuration}" class="glyphicon glyphicon-remove"></span>
                            </td>
                            <td th:text="${item.durationInterval}">Empty</td>
                            <td th:text="${item.usedTime}">Empty</td>
                            <td>
                                <a th:href="@{/users/user/}+${item.getIdUser()}"
                                   class="btn btn-info" role="button">Edit</a>
                            </td>
                            <td>
                                <a th:href="@{/users/delete/}+${item.getIdUser()}"
                                   class="btn btn-danger" role="button">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>