<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Words list</title>
    <link rel="stylesheet" type="text/css" href="/css/domains.css" />
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>
<!--Adding form-->
<div class="container-fluid domainsform">
    <div class="adding-form-inside">
        <div class="row">
            <div class="box col-md-6 col-md-offset-3">
                <h2>Add new words list:</h2>
                <form th:action="@{/words/add}" th:object="${wordsList}" method="post">
                    <div th:replace="fragments/wordsform :: form"/>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>