<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Words list edit</title>
    <link rel="stylesheet" type="text/css" href="/css/words.css" />
    <div th:replace="fragments/header :: header-css"/></head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container-fluid domainslist">
    <div class="words-edit-inside">
        <div class="row">
            <div class="box col-md-6 col-md-offset-3">
                <h2>Edit words list:</h2>
                <input type="hidden" id="listName" th:value="${wordsList.getWordsListName()}"/>
                <input type="hidden" id="listId" th:value="${wordsList.getIdWordsList()}"/>
                <form action="#"
                      th:action="@{/words/list/}+${wordsList.getIdWordsList()}"
                      th:object="${wordsList}" method="post">
                    <div th:replace="fragments/wordsform :: form"/>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="box col-md-6 col-md-offset-3" id="wordsList">
                <div id="add-word">
                    Add words:
                    <form action="#" th:action="@{/words/list/{id}/edit(id = ${wordsList.getIdWordsList()})}"
                          th:object="${newword}" method="post">
                        <input type="text" th:field="*{wordString}" id="wordString"/>
                        <input type="hidden" th:field="*{idWordsList}" id="idWordsList"/>
                        <div th:if="${#fields.hasErrors('wordString')}"
                             th:errors="*{wordString}" class="alert alert-danger"></div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
                <table class="table table-bordered" id="domains-table">
                    <thead class="thead">
                    <tr id="top">
                        <th class="th">Domain</th>
                        <th class="th"></th>
                        <th class="th"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${wordsList.getDomainsSet()}">
                        <td>
                            <div th:text="${item.domainString}" class="domain"></div>
                        </td>
                        <td><button class="btn btn-default editdomain">Edit</button></td>
                        <td><button class="btn btn-danger removedomain">Remove</button></td>
                        <input type="hidden" class="id" th:value="${item.idDomain}"/>
                        <input type="hidden" class="oldDomain" th:value="${item.domainString}"/>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>
<script src="/js/domains/wordslist.js"></script>

</body>
</html>