html, body{
    background: #1D976C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93F9B9, #1D976C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100%;
}

.navbar-brand {
    padding: 2px 15px;
}

.navbar-brand>img {
    display: inline-block;
}

.container-fluid {
    padding-top: 30px;
}

.jumbo, .login, .domains, .domainsform, .domainslist, .wordsform, .words, .wordslist, .users, .usersform, .userslist{
    padding-top: 80px;
}

.text-jumbo{
    text-align: center;
}

.btn-xlarge {
    padding: 80px 93.7px;
    font-size: 22px;
/*  color: white;
    background-color: #ad9fac; !*Fioletowy*!*/
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: #c9e4f2; /*Jasnoniebieski*/
    color: #31708f;
}

.container-all{
    margin-bottom: 3%;
}

#signout, #save-config{
    margin: 1% 2%;
}

.nav > li > a.btn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}

.nav > li > a.btn-primary:hover {
    color: #fff;
    background-color: #4886bb;
    border-color: #2e6da4;
}

.glyphicon-ok{
    color: green;
}

.glyphicon-remove{
    color: red;
}

