body{
    background: #1D976C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93F9B9, #1D976C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-brand {
    padding: 2px 15px;
}

.navbar-brand>img {
    display: inline-block;
}

.container-fluid {
    padding-top: 30px;
}

.jumbo, .login, .domains, .domainsform, .domainslist, .wordsform, .words, .wordslist{
    padding-top: 80px;
}

.text-jumbo{
    text-align: center;
}

.btn-xlarge {
    padding: 80px 93.7px;
    font-size: 22px; /*change this to your desired size*/
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: darkgrey;
}


