
.settings-inside{
    background-color: #c9e4f2;
    color: #31708f;
    margin: 2% 15% 3% 15%;
    padding-bottom: 2%;
    border: 3px solid #eeeeee;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

#button-save{
    padding-left: 0;
}







