<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="box col-md-6 col-md-offset-3">
            <div class="stormpath-header">
                <img src="http://stormpath.com/images/template/logo-nav.png"/>
            </div>
            <a th:href="@{/blacklist}" class="btn btn-danger">Black list</a>
            <a th:href="@{/lists}" class="btn" role="button">Access control lists</a>
        </div>
    </div>
</div>
</body>
</html>