<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

    <div class="container jumbo">
        <div class="row">
            <div class="jumbotron">
                <h1 class="text-jumbo"><a href="/"><img src="/css/trolsmall.png"/> Trol - Your Network Guide</a></h1>
                <h2 class="text-jumbo">Unwanted content shall not pass! </h2>
            </div>
        </div>
    </div>

    <div class="container-fluid">
    <div class="row">
        <div class="box col-md-6 col-md-offset-3">
            <div class="stormpath-header">
               <!-- <img src="trolsmall.png"/>-->
            </div>
            <a th:href="@{/blacklist}" class="btn btn-danger">Black list</a>
            <a th:href="@{/domains}" class="btn" role="button">Domains</a>
            <a th:href="@{/words}" class="btn" role="button">Words lists</a>
        </div>
    </div>
    </div>

    <div th:replace="fragments/footer :: footer"/>

</body>
</html>