<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Domains list</title>
    <link rel="stylesheet" type="text/css" href="/css/domains.css" />
    <div th:replace="fragments/header :: header-css"/>
    </head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container-fluid domains">
    <div class="domains-inside">
    <div class="row">
        <div class="box col-md-6 col-md-offset-3">
            <h2>Domains List</h2>
            <div>
                <table class="table">
                    <thead class="thead-inverse">
                    <tr>
                        <th>List name</th>
                        <th>Active</th>
                        <th>Timed</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${domains}">
                        <td class="domain" th:text="${item.getDomainsListName()}">Empty</td>
                        <td>
                            <span th:if="${item.isActive}" class="glyphicon glyphicon-ok-circle"></span>
                            <span th:unless="${item.isActive}" class="glyphicon glyphicon-remove-circle"></span>
                        </td>
                        <td>
                            <span th:if="${item.isTimed}" class="glyphicon glyphicon-ok-circle"></span>
                            <span th:unless="${item.isTimed}" class="glyphicon glyphicon-remove-circle"></span>
                        </td>
                        <td><a th:href="@{/domains/list/}+${item.getIdDomainsList()}" class="btn btn-sm btn-info" role="button">Edit</a></td>
                    </tr>
                    </tbody>
                </table>
                <!--Add button-->
                <a th:href="@{/domains/add}" class="btn btn-lg btn-success" role="button">Add</a>
            </div>
        </div>
    </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>