<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Domains list</title>
    <link rel="stylesheet" type="text/css" href="/css/domains.css" />
    <div th:replace="fragments/header :: header-css"/>
    </head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container-fluid domains">
    <div class="domains-inside">
    <div class="row">
        <div class="box col-md-6 col-md-offset-3" id="domains-inside-table">
            <div id="domains-title">
                <h2>Domains List
                    <a th:href="@{/domains/add}" class="btn btn-lg btn-success" role="button">Add</a>
                </h2>
            </div>
                <div>
                <table class="table table-bordered" id="domains-table">
                    <thead class="thead">
                    <tr id="top">
                        <th class="th">List name</th>
                        <th class="th">Active</th>
                        <th class="th">Timed</th>
                        <th class="th">Start time</th>
                        <th class="th">End time</th>
                        <th class="th">Mode</th>
                        <th class="th"></th>
                        <th class="th"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${domains.empty}">
                        <td id="empty" colspan="8">List is empty</td>
                    </tr>
                    <tr th:if="${!domains.empty}" th:each="item : ${domains}">
                        <td class="domain" th:text="${item.getDomainsListName()}">Empty</td>
                        <td>
                            <span th:if="${item.isActive}" class="glyphicon glyphicon-ok"></span>
                            <span th:unless="${item.isActive}" class="glyphicon glyphicon-remove"></span>
                        </td>
                        <td>
                            <span th:if="${item.isTimed}" class="glyphicon glyphicon-ok"></span>
                            <span th:unless="${item.isTimed}" class="glyphicon glyphicon-remove"></span>
                        </td>
                        <td th:text="${item.timeBegin}"></td>
                        <td th:text="${item.timeEnd}"></td>
                        <td th:if="${item.isBlack}">
                            Blacklist
                        </td>
                        <td th:unless="${item.isBlack}">
                            Whitelist
                        </td>
                        <td>
                            <a th:href="@{/domains/list/}+${item.getIdDomainsList()}"
                               class="btn btn-info" role="button">Edit</a>
                        </td>
                        <td>
                            <a th:href="@{/domains/delete/}+${item.getIdDomainsList()}"
                               class="btn btn-danger" role="button">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>