<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Black list</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container-fluid">
    <div class="row">
        <div class="box col-md-6 col-md-offset-3">
            <h2>Add new domains list:</h2>
                <form th:action="@{/domains/add}" th:object="${domainsList}" method="post">
                    <p>List name: <input type="text" th:field="*{info.name}" /></p>
                    <p>Is this list timed?
                        <input type="checkbox" name="isTimed" th:field="*{info.isTimed}"/>
                    </p>
                    <p>Start time: <input type="time" th:field="*{info.timeBegin}"/></p>
                    <p>End time: <input type="time" th:field="*{info.timeEnd}"/></p>
                    <div class="input-group">
                        <input type="radio" name="mode" th:value="${domainsList.mode.BLACKLIST}">Blacklist</input>
                        <input type="radio" name="mode" th:value="${domainsList.mode.WHITELIST}">Whitelist</input>
                    </div>
                    <p><button type="submit">Add</button></p>
                </form>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>