<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

</head>
<body>
<div th:fragment="modal">

    <!-- Modal -->
    <div id="helpModalDomains" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Domains list</h4>
                </div>
                <div class="modal-body">
                    <p>This list contains collections of domains blocked for every user.
                        Each collection could be limited during time and could have one of two modes.
                    </p>
                    <p>Columns explanations:</p>
                    <p style="text-align: center"><strong>List name</strong> - text field containing name of list specified by user.
                        Name should describe list's contents like 'Social networking websites', 'Games' etc.
                    </p>
                    <p style="text-align: center"><strong>Active</strong> - boolean value indicating if list is currently being used by
                        blocking system. If list is active, it's domains are prohibited.
                    </p>
                    <p style="text-align: center"><strong>Timed</strong> - boolean value indicating if list is active only in specified time.
                        If true, domains are blocked in time period specified by <em>Start time</em> and
                        <em>End time</em>.
                    </p>
                    <p style="text-align: center"><strong>Start time</strong> - beginning of time period when domains are blocked if <em>Timed</em>
                        is true.
                    </p>
                    <p style="text-align: center"><strong>End time</strong> - end of time period when domains are blocked if <em>Timed</em>
                        is true.
                    </p>
                    <p style="text-align: center"><strong>Mode</strong> - it describes the way blocking system treats domains list.
                        <em>Blacklist</em> means that specified domains are blocked, <em>Whitelist</em>
                        means that domains are permitted.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>

